@import "tailwindcss";

:root {
  --background: #020617;
  /* Slate 950 encore plus profond */
  --foreground: #e2e8f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Empêche le scroll horizontal indésirable */
}

/* --- LE FOND GRID --- */
.bg-grid-white {
  mask-image: linear-gradient(to bottom, transparent, 5%, white, 95%, transparent);
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

/* --- ANIMATION DEFILEMENT INFINI --- */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Reset de base */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}